@charset "utf-8";
.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .text {
    font-size: 12px;
  }
}

body {
	background-color: #d9cec0;
	overflow-x: hidden;
}

header {
  background-color: #414141;
  position: static; /* sets the header to fixed position */
  width: 100%; /* full width */
  color: #cecfd0;
  color: white;
  display: flex;
  justify-content: space-between;
	flex-direction: row;
}

ul, li {
  color: #f3f3f3;
  font-size: 20px;
  font-family: “Rockwell Extra Bold”, “Rockwell Bold”, monospace;
  display: flex;
  padding: 5px;
  margin: auto;
	gap: 12px;
  text-align: center;
}

a {
	color: #f3f3f3; /* sets white color for links */
	text-decoration: none; /* removes underline */
}

a:hover {
	text-decoration: underline;
}

#titles {
	text-align: center;
	font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
}

#introduction {
	background-color: #8a7167;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical /* vertically resize the text area */
}

input[type=submit] {
  background-color: #745951;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* lighter brown color when mouse hovers above submit button */
input[type=submit]:hover {
  background-color: #8A7167;
}

input[type=submit]:active {
	transform: scale(0.8);
}

/* Add a background color and some padding around the form */
#form {
  border-radius: 5px;
  font-family: Cambria, Georgia, serif;
  padding: 20px;
} 

footer {
  background-color: #414141;
  width: 100%; /* full width */
  color: #cecfd0;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 9px;
  font-family: “Rockwell Extra Bold”, “Rockwell Bold”, monospace;
}

#nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#foot-titles {
	text-align: center;
}

#credit {
	text-align: center;
	padding-top: 8px;
}


#linkedin {
	margin-top: 1.5rem;
}

#in {
	margin-right: 3rem;
	font-size: 20px;
	border: solid #F3F3F3 1px;
	padding-left: 3px;
	padding-right: 3px;
	border-radius: 4px;
}